<nb-card size="large">
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="Orders">
      <div class="chart-container">
        <dash-chart-panel-summary
          [summary]="chartPanelSummary"
        ></dash-chart-panel-summary>
        <dash-chart-panel-header
          [type]="period"
          (periodChange)="setPeriodAndGetChartData($event)"
        >
        </dash-chart-panel-header>
        <dash-orders-chart
          #ordersChart
          [ordersChartData]="ordersChartData"
        ></dash-orders-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="Profit" [lazyLoad]="true">
      <div class="chart-container">
        <dash-chart-panel-summary
          [summary]="chartPanelSummary"
        ></dash-chart-panel-summary>
        <dash-chart-panel-header
          [type]="period"
          (periodChange)="setPeriodAndGetChartData($event)"
        >
        </dash-chart-panel-header>
        <dash-profit-chart
          #profitChart
          [profitChartData]="profitChartData"
        ></dash-profit-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card>
