<nb-flip-card [showToggleButton]="false" [flipped]="flipped">
  <nb-card-front>
    <nb-card size="tiny">
      <dash-earning-card-front></dash-earning-card-front>
      <nb-icon
        icon="chevron-right-outline"
        pack="eva"
        class="flip-icon"
        (click)="toggleView()"
      ></nb-icon>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card size="tiny">
      <dash-earning-card-back></dash-earning-card-back>
      <nb-icon
        icon="chevron-right-outline"
        pack="eva"
        class="flip-icon"
        (click)="toggleView()"
      ></nb-icon>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
