<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <dash-profit-card></dash-profit-card>
      </div>
      <div class="col-md-6">
        <dash-earning-card></dash-earning-card>
      </div>
    </div>

    <dash-traffic-reveal-card></dash-traffic-reveal-card>
  </div>

  <div class="col-xxl-7">
    <dash-ecommerce-charts></dash-ecommerce-charts>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <dash-country-orders></dash-country-orders>
  </div>

  <div class="col-xxl-3">
    <dash-progress-section></dash-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <dash-ecommerce-visitors-analytics></dash-ecommerce-visitors-analytics>
  </div>

  <div class="col-xxl-3">
    <dash-user-activity></dash-user-activity>
  </div>
</div>
